.logo {
	height: 50px;
}
nav {
	background-color: black;
	padding: 15px 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
nav a {
	text-decoration: none;
	color: white;
	margin-right: 30px;
	padding: 5px;
}
nav a:hover {
	background-color: lightgray;
	color: black;
}
nav a:first-child {
	margin-left: 40px;
}
